<script setup lang="ts">
import { ref, onMounted, computed, watch } from 'vue'
import TodosList from './classes/TodosList'
import Texts from './Texts.js'

const todosList = new TodosList()
const name = ref('')
const inputContent = ref('')

const todosAscendingByDate = computed(() => todosList.getSorted())

const addTodoButtonText = computed(() => {
    if (todosList.includesByContent(inputContent.value)) {
        return Texts.addTodoButtonIfItemExists
    }
    return Texts.addTodoButton
})

const addTodo = todosList.addMethod(inputContent)

watch(
    todosList.ref, 
    newVal => localStorage.setItem('todos', JSON.stringify(newVal)),
    { deep: true },
)

watch(
    name, 
    newVal => localStorage.setItem('name', newVal)
)

onMounted(() => {
    name.value = localStorage.getItem('name') || ''
    todosList.set(localStorage.getItem('todos'))
})

</script>

<template src="./template.html"></template>
