<main class="app">
    <section class="greeting">

        <h2 class="title">
            {{Texts.greetings}}<input 
                type="text" 
                :placeholder="Texts.namePlaceHolder"
                v-model="name">
        </h2>
    </section>
        
    <section class="create-todo">
        
        <h3>{{Texts.createTodoHeader}}</h3>
        <form @submit.prevent="addTodo">

            <h4>{{Texts.createTodoSubHeader}}</h4>            
            <input 
                type="text" 
                :placeholder="Texts.addTodoPlaceHolder" 
                v-model="inputContent">
            <input 
                type="submit" 
                :value="addTodoButtonText">
        </form>
    </section>

    <section class="todo-list">

        <h3>{{Texts.todoListHeader}}</h3>
        <div class="list">

            <div
                v-for="todo in todosAscendingByDate"
                :class="`todo-item ${todo.done && 'done'}`"
                :title="Texts.todoListElementTitle + todo.getDateString">
            
                <label>
                    <input
                        type="checkbox"
                        v-model="todo.done">
                    <span class="bubble"></span>
                </label>

                <div class="todo-content">
                    <input
                        type="text"
                        v-model="todo.content"
                        :readonly="todo.done">
                </div>

                <div class="actions">
                    <button class="delete" @click="todosList.removeMethod(todo)">{{Texts.deleteButton}}</button>
                </div>
            </div>
        </div>
    </section>
</main>